{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobifi</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    {% block head %}{% endblock %}
</head>
<body>

    <!-- NavBar -->
    <header>
        <nav class="navbar">
            {% if user.is_authenticated %}
                <div class="navbar-left">
                    <a href="{% url 'home' %}" class="logo">
                        <img src="https://imgur.com/Z3vcsHc.png" alt="Jobifi Logo" class="logo-image">
                    </a>
                </div>
                <div class="navbar-center">
                    <a href="{% url 'home' %}"></a>
                </div>
                <div class="navbar-right">
                    {% if user.profile.role == 'job_seeker' %}
                        <a href="{% url 'job_seeker_profile' %}">Profile</a>
                    {% elif user.profile.role == 'employer' %}
                        <a href="{% url 'employer_profile' %}">Employer Page</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <div class="navbar-left">
                    <a href="{% url 'home' %}" class="logo">
                        <img src="https://imgur.com/Z3vcsHc.png" alt="Jobifi Logo" class="logo-image">
                    </a>
                </div>
                <div class="navbar-center">
                    <a href="{% url 'home' %}"></a>
                </div>
                <div class="navbar-right">
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register_user' %}">Sign Up</a>
                </div>
            {% endif %}
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
