{% extends 'base.html' %} 
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<!-- Hero section -->
<section class="hero">
    <div class="hero-content">
        <h1>Company title</h1>
        <h4>Company Industry</h4>
        <h3>Company Description</h3>
        <h3>Current Openings</h3>
        <h4>Company Website</h4>
    </div>
    <form class="search-form">
        <input type="text" placeholder="Search for jobs..." class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>
</section>
{% endblock %}